@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

$accent-color: #b53471;
$white-color: #f1e8e8;
$black-color: darken($accent-color, 38%);
$dark-purple-color: darken($accent-color, 30%);
$purple-color: darken($accent-color, 18%);

$bx-accent: 0 4px 4px rgba($accent-color, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;
